{% extends 'base.html' %}

{% block content %}
<div class="col-md-6">
    <!-- jquery validation -->
    <div class="card card-primary">
      
      <!-- /.card-header -->
      <!-- form start -->
      <form id="regform" method="POST">
          {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" required="required" value="{{ producto.name }}" >
            <span id="exampleInputEmail1-error" class="error invalid-feedback">Ingrese el nombre del producto</span>
          </div>
          <div class="form-group">
            <label>Codigo</label>
            <input type="text" name="code" class="form-control" id="code" placeholder="Enter Code" required="required" value="{{ producto.code }}">
            <span id="exampleInputEmail1-error2" class="error invalid-feedback">Ingrese el codigo del producto</span>
          </div>
          <div class="form-group">
            <label>Grupo</label>
            <select class="form-control" id="account-group" name="account_group" required>
              {% for acc in account_groups %}  
              <option value="{{ acc.id }}" {% if producto.account_group.id == acc.id %}selected{% endif %}>{{ acc.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Descripcion</label>
            <input type="text" name="description" class="form-control" id="description" placeholder="Enter Description" required="required" value="{{ producto.description }}" >
            <span id="exampleInputEmail1-error3" class="error invalid-feedback">Ingrese la descripcion del producto</span>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    <!-- /.card -->
</div>
{% endblock %}